html {
    font-family: 'Raleway', sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  margin-bottom: 0px;
}

.pull-front {
  z-index: 1;
  position: relative;
}

ul:not(.browser-default) {
  padding-left: 30px;
}

ul:not(.browser-default) li {
  list-style-type: disc;
}

.sidenav > ul {
  padding-left: 0px !important;
}

label {
  font-size: 1rem;
  color: #000000;
}

.page-footer .footer-copyright {
  color: #424242;
}

.sidenav-overlay {
  z-index: 0;
}