<table class="study">
<tr>
  <td class="key">Dates:</td>
  <td>{{ include.dates }}</td>
</tr>
<tr>
  <td class="key">Qualification Awarded:</td>
  <td>{{ include.qualification }}</td>
</tr>
{%- if include.thesis -%}
<tr>
  <td class="key">Thesis:</td>
  <td><a href="{{ site.url }}/{{ include.thesis_link }}">{{ include.thesis }}</a></td>
</tr>
{%- endif -%}
{%- if include.subjects -%}
<tr>
  <td class="key">Principal Subjects:</td>
  <td>{{ include.subjects }}</td>
</tr>
{%- endif -%}
<tr>
  <td class="key">Name/Type of Organization:</td>
  <td><a href="{{ include.organization_url }}" target="_blank">{{ include.organization }}</a></td>
</tr>
</table>
