{{ reference }}

{% if entry.note and entry.note == "To appear" %}
(<em>To appear</em>)
{% endif %}

{% if links.pdf %}
[<a href="{{ site.url }}/{{ links.pdf }}">PDF</a>]
{% endif %}

[<a href="javascript:bibtex('{{ entry.key }}')">Bibtex</a>]

<div class="dialog" id="{{ entry.key }}" title="BibTeX" style="display:none" >
  <pre>{{ entry.bibtex }}</pre>
</div>

{% if entry.note and entry.note == "Candidate for (but not winner of) the Best Paper Award" %}
<br/>
<img src="{{ site.url }}/images/podium.png" />
<span style="color:red">Candidate for (but not winner of) the Best Paper Award</span>
{% endif %}

{% if entry.note and entry.note == "Winner of the Best Paper Award" %}
<br/>
<img src="{{ site.url }}/images/medal.png" />
<span style="color:red">Winner of the Best Paper Award</span>
{% endif %}
