<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Alessandro Pellegrini - {{ page.title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500&display=swap" rel="stylesheet">
  <link href="{{ site.url }}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ site.url }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% if page.title == "Research & Publications" or page.title == "Theses Proposals" -%}
  <link rel="stylesheet" href="{{ site.url }}/css/jquery-ui.css">
  {%- endif %}
  {% include scholar_meta.html %}
</head>
<body>
	
  <nav class="blue-grey lighten-2 pull-front" role="navigation">
    <div class="nav-extended container">
      <a href="{{ site.url }}"><span class="brand-logo">Alessandro&nbsp;Pellegrini<small><em>,&nbsp;PhD</em></small></span></a>
      <ul id="nav-mobile" class="sidenav">
        {% for p in site.main_pages %}<a href="{{ site.url }}/{{ p.url }}">{{ p.title }}</a><br/>
        {% endfor %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="row flex">
      <div class="col l3 xl2 blue-grey lighten-4 hide-on-med-and-down">
	<div class="container center-align">
	   <h1 class="title"><a href="{{ site.url }}"><img class="responsive-img circle" src="{{ site.url }}/images/logo.jpg" /></a></h1>
           {% for p in site.main_pages %}<a href="{{ site.url }}/{{ p.url }}">{{ p.title }}</a><br/>
           {% endfor %}
        </div>
      </div>
      <div class="col s12 l9 xl10 grey lighten-4">
	<div class="container flow-text">
            <h1>{{ page.title }}</h1>
            {{ content | regex_replace: '\<a class\="details" href\="\/publications\/.*\.html"\>DetailsToRemove\<\/a\>', '' }}
        </div>
      </div>
    </div>
  <footer class="page-footer blue-grey lighten-3 center-align">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright &copy; 2010&ndash;{{ 'now' | date: "%Y" }} &bull; All rights reserved</span><br/>
	<span>Last Update: {{ 'now' | date_to_string }}</span>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ site.url }}/js/materialize.js"></script>
  <script src="{{ site.url }}/js/init.js"></script>
  {% if page.title == "Research & Publications" or page.title == "Theses Proposals" -%}
  <script src="{{ site.url }}/js/jquery-ui.js"></script>
  <script src="{{ site.url }}/js/publications.js"></script>
  {% endif %}
  </body>
</html>
